.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* Footer customization */
.footer {
  padding: 10px 0;
  line-height: 1.5;
  border-top: 1px solid #333;
  background-color: #000;
}

.footer__copyright {
  margin: 0;
  font-size: 0.9rem;
}